html, body {
    width: 100%;
    height: 100%;
    background-color: #222b3a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

textarea, h1, button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-section {
    height: 90%;
    width: 30%;
    margin: 0;
}

.text-header {
    height: 10%;
    width: 100%;
    margin: 0;
    font-size: 5vh;
    color: aliceblue;
}

textarea {
    box-sizing: border-box;
    height: 90%;
    width: 100%;
    background-color: transparent;
    font-size: 5vh;
    color: aliceblue;
    padding: 30px;
    margin: 0;
}

.optionsGroup {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes fade-out {
    from {color: rgb(96, 194, 96);}
    to {color: transparent;}
}

.status {
    background-color: transparent;
    text-align: center;
    height: 10%;
    font-size: calc(100vh * 0.8 * 0.05);
    color: rgb(96, 194, 96);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fading-out {
    animation-name: fade-out;
    animation-duration: 2s;
}

button {
    width: 100%;
    height: 20%;
    font-size: 5vh;
    background-color: #365488;
    color: aliceblue;
}