html, body {
    width: 100%;
    height: 100%;
    background-color: #222b3a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.github-link {
    position: absolute;
    bottom: 5px;
    font-size: medium;
    color: aliceblue;
}

textarea, h1, button, label, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    font-size: large;
    color: aliceblue;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.text-section {
    height: 90%;
    width: 30%;
    margin: 0;
}

.text-header {
    height: 10%;
    width: 100%;
    margin: 0;
    font-size: min(5vh, 3vw);
    color: aliceblue;
}

div.text-container {
    display: inline-grid;
    grid-template-columns: min-content auto;
    overflow-y: scroll;
    max-height: 80vh;
    width: 100%;
    background-color: aliceblue;
}

.line-numbers-container, .line-text-container {
    display: flex;
    flex-flow: column;
}

.line-numbers-container {
    background-color: grey;
}

div.text-container > div > h1 {
    background: transparent; 
    height: 30px;
    line-height: 30px;
    width: 10%;
    padding: 0 10px;
    margin: 0 0 0 0;
    font-size: large;
}

div.text-container > div > input[type="text"] {
    height: 30px;
    line-height: 30px;
    border-radius: 0; 
    background-color: transparent; 
    border-width: 0; 
    width: 100%;
    box-sizing: border-box;
    border-width: 1px;
    padding: 0 0 0 5px;
    margin: 0;
    font-size: large;
}

textarea {
    box-sizing: border-box;
    height: 90%;
    width: 100%;
    background-color: transparent;
    font-size: min(5vh, 5vw);
    color: aliceblue;
    padding: 30px;
    margin: 0;
}

.optionsGroup {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@keyframes fade-out {
    from {color: rgb(96, 194, 96);}
    to {color: transparent;}
}

.status {
    background-color: transparent;
    text-align: center;
    height: 10%;
    font-size: calc(100vh * 0.8 * 0.05);
    color: rgb(96, 194, 96);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fading-out {
    animation-name: fade-out;
    animation-duration: 2s;
}

button {
    width: 80%;
    height: 15%;
    font-size: 5vh;
    color: aliceblue;
}

.format-button {
    background-color: #365488;
}

.clear-button {
    background-color: #883636;
}
